h1 { 
    
font-size: large;
color: blueviolet;

}
p{ 
    
    font-size:x-large ;
    color: rgb(226, 49, 43);
    
    }


body { 
    
    background-color: rgb(196, 255, 204);
    align-items: center;
    
    color:rgb(2, 0, 139)
    
    }